@import url(https://fonts.googleapis.com/css?family=Lato);

body
  margin: 0
  background-color: #161616

h1
  font-family: Bebas Neue
  font-size: 48px
  font-weight: normal
  color: white

h3
  font-family: Lato
  font-size: 18px
  color: rgb(208, 208, 208)

h4
  font-family: Lato
  font-size: 16px
  color: rgb(180, 180, 180)

h5
  font-family: Bebas Neue
  font-size: 16px
  font-weight: normal
  color: rgb(170, 170, 170)

p, label
  font-family: Lato
  font-size: 13px
  color: rgb(164, 164, 164)

a
  font-family: Lato
  font-size: 13px
  color: rgb(41, 186, 173)
  text-decoration: none
  border-bottom: 1px dotted rgb(41, 186, 173)

input[type="text"], input[type="email"], textarea
  font-family: Lato
  font-size: 13px
  color: rgb(164, 164, 164)
  border: 1px solid rgb(190, 190, 190)
  border-radius: 5px
  min-width: 100%
  display: inline-block
  padding: 10px
  box-shadow: 0px 2px 0px rgb(212, 212, 212)
  outline: none
  transition: all ease 0.5s

input[type="text"]:focus, input[type="email"]:focus, textarea:focus
  border: 1px solid rgb(41, 186, 173)
  box-shadow: 0px 2px 0px rgba(41, 186, 173, 0.2)

button, input[type="submit"], input[type="button"], a.button
  font-family: Lato
  font-size: 14px
  padding: 7px
  background: none
  border-radius: 5px
  border: 2px solid rgb(152, 152, 152)
  color: rgb(152, 152, 152)
  transition: all ease 0.2s
  transition: margin 0
  outline: 0

button:hover, input[type="submit"]:hover, input[type="button"]:hover, a.button:hover
  box-shadow: 0 2px 0px rgb(41, 186, 173)
  border: 2px solid rgb(41, 186, 173)
  color: rgb(41, 186, 173)

button:active, input[type="submit"]:active, input[type="button"]:active, a.button:active
  margin-top: 1px
  box-shadow: 0 0 0px rgb(41, 186, 173)
  border: 2px solid rgb(41, 186, 173)
  color: rgb(41, 186, 173)

textarea
  max-width:100%
  max-height: 600px
  min-height: 100px

.container
  max-width: 1000px
  margin-left: auto
  margin-right: auto
  //height:100%
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -moz-flex
  display: -webkit-flex
  display: flex
  flex-direction:row
  flex-wrap:wrap
  align-items: flex-start
  -webkit-flex-direction:row
  -webkit-flex-wrap:wrap
  -webkit-align-items: flex-start
  padding:5px

.center
  justify-content: center
  -webkit-justify-content: center

.right
  justify-content: flex-start
  -webkit-justify-content: flex-start

.grid-1
  width: 100px

.grid-2
  width: 200px

.grid-3
  width: 300px

.grid-4
  width: 400px

.grid-5
  width: 500px

.grid-6
  width: 600px

.grid-7
  width: 700px

.grid-8
  width: 800px

.grid-9
  width: 900px

.grid-10
  width: 1000px

.form-group
  padding: 10px

.label-list h5
  display:block
  line-height: 35px
  margin-top: 10px
  margin-bottom: 0

.label-list p
  font-size: 12px
  display: inline

.label
  padding: 3px 5px 3px 5px
  background-color: rgb(41, 186, 173)
  border-radius: 2px
  color: rgb(18, 93, 86)

#branding-background
  background-image: url("images/starfield.png")
  background-attachment: fixed
  background-position: center -250px
  background-size: cover
  background-repeat: no-repeat

#branding
  padding: 120px 0 160px 0

#title h1
  margin-bottom: 0

#title h4
  margin-top: 0

#title p
  padding-right: 130px

#skills
  padding-top: 25px

.white-background
  background-color: rgb(245, 245, 245)
  width: 100%

#portfolio-background
  border-top: 3px solid rgb(41, 186, 173)

#portfolio
  text-align: center
  padding-bottom: 50px

#portfolio h1
  color: rgb(61, 61, 61)
  margin-bottom: 0px

#portfolio p
  margin-top: 0px

#portfolio .grid-10
  margin-bottom: 30px

#portfolio .grid-3
  padding: 10px

.portfolio-hover
  position: absolute
  height: 175px
  width: 300px
  padding-top: 25px
  transition: background-color ease 0.5s
  background-color: rgba(0, 0, 0, 0)

.portfolio-hover h5
  font-size: 18px
  color: rgba(221, 221, 221, 0)
  margin-bottom: 10px
  transition: color ease 0.5s

.portfolio-hover:hover h5
  color: rgba(221, 221, 221, 1)

.portfolio-hover p
  color: rgba(164, 164, 164, 0)
  transition: color ease 0.5s

.portfolio-hover:hover p
  color: rgba(164, 164, 164, 1)

.portfolio-hover a
  color: rgba(41, 186, 173, 0)
  border-bottom: 1px dotted rgba(41, 186, 173, 0)
  transition: all ease 0.5s

.portfolio-hover:hover a
  color: rgba(41, 186, 173, 1)
  border-bottom: 1px dotted rgba(41, 186, 173, 1)

.portfolio-hover:hover
  background-color: rgba(0, 0, 0, 0.8)

.portfolio-element
  transition: background-color ease 0.5s

.portfolio-element:hover
  background-color: rgb(41, 186, 173)

#contact-background
  background-color: rgb(230, 230, 230)
  width: 100%

#contact
  text-align: center
  padding-bottom: 50px

#contact p a
  margin: 0px 5px 0px 5px

#contact h1
  color: rgb(61, 61, 61)
  margin-bottom: 0px

#contact h3
  color: rgb(161, 161, 161)

footer
  text-align: center
