extends layout.jade

block content
  .container#branding
    .grid-4#title
      h1 Raphaël Astier
      h4 Developpeur - Web - Jeux Vidéos
    .grid-6#skills
      .label-list
        h5 Langages
        p.label PHP 5/7
        p.label Javascript (ES2015)
        p.label MySQL
        p.label Typescript
        p.label C/C++
        p.label C#
        p Java, Python, Dart, Jade, Stylus, LESS ...
      .label-list
        h5 Frameworks
        p.label Laravel 5
        p.label CakePHP
        p.label Unity 3D
        p.label Unreal Engine 4
        p Bootstrap, Symfony 2, Wordpress, Node, Electron ...
      .label-list
        h5 Divers
        p Terminal Unix, Adobe Creative Suite, Git
