doctype html
html(lang="fr")
  head
    meta(charset="utf8")
    block title
      title Raphaël - Developpeur
    link(href="g-raph.css", rel="stylesheet")
  body
    block content
    block portfolio
    block contact
    footer
      .container.center
        .grid-5
          p Made with a lot of Coca Cola in Paris - g-raph.me | abclive.me 2015
        .grid-2
          p Source code available 
            a(href="https://github.com/abclive/g-raph.me") on Github
